<main>
	<h2>Education</h2>
	
	<div class="education-entry">
		<div class="education-info">
			<h3>West Lafayette Jr/Sr High School</h3>
			<p><i>West Lafayette, IN</i></p>
			<p>Diploma with honors</p>
		</div>
		<div class="education-image">
			<img src="./img/school.jpg" alt="University">
		</div>
	</div>

	<div class="education-entry">
		<div class="education-image">
			<img src="./img/uindy.webp" alt="Academy">
		</div>
		<div class="education-info">
			<h3>University of Indianapolis</h3>
			<p><i>Indianapolis, IN</i></p>
			<p>Bachelor of Science in Computer & Data Science</p>
		</div>
	</div>

	<h2>Skills</h2>
	<div class="skills-container">
		<div class="skill-item">Git</div>
		<div class="skill-item">Python</div>
		<div class="skill-item">R</div>
		<div class="skill-item">SQL</div>
		<div class="skill-item">Machine Learning</div>
		<div class="skill-item">Tableau</div>
		<div class="skill-item">AWS</div>
		<div class="skill-item">Data Analysis & Visualization</div>
		<div class="skill-item">MERN</div>
		<div class="skill-item">Bilingual</div>
	</div>
</main>
