<main>
	<h2>Education</h2>
	
	<div class="education-entry">
		<div class="education-info">
			<h3>West Lafayette Jr/Sr High School</h3>
			<p><i>West Lafayette, IN</i></p>
			<p>Diploma with honors</p>
		</div>
		<div class="education-image">
			<img src="./img/school.jpg" alt="University">
		</div>
	</div>

	<div class="education-entry">
		<div class="education-image">
			<img src="./img/uindy.webp" alt="Academy">
		</div>
		<div class="education-info">
			<h3>University of Indianapolis</h3>
			<p><i>Indianapolis, IN</i></p>
			<p>Bachelor of Science in Computer & Data Science</p>
		</div>
	</div>

</main>
